body {
    --text-color: #000;
    --background-color: #fff;

    --primary-color: #0bb7ba;
    --input-background-color: #f0f0f0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--primary-color);
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--input-background-color);
    margin-bottom: 12px;
}

input:focus, select:focus, textarea:focus, button:focus {
    box-shadow: 0 0 0 2px var(--primary-color);
}

input, select, textarea {
    width: 100%;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
}
